:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: oklch(25.3267% 0.015896 252.417568 /1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-box {
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  background-color: oklch(21.1484% 0.01165 254.087939 / 1);
}

@media (max-width: 768px) {
  .main-box {
    max-width: 70%; 
  }
}

@media (max-width: 480px) {
  .main-box {
    max-width: 90%; 
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#form-group__title {
  width: 100px;
}

#form-group__description {
  width: 180px;
}


.task-list {
  max-height: 250px;
  overflow-y: auto;
}

.task-list__task {
  margin-top: .4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__task div {
  margin: 0;
}

.task__description {
  margin-left: .5em;
  font-size: 0.9em;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
}

/* Define the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #242424; /* Background color */
  border-radius: 8px; /* Rounded corners */
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #666; /* Color of the thumb */
  border-radius: 8px; /* Rounded corners */
}

/* Define the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ad9494; /* Color of the thumb on hover */
}

.backdrop {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3em;
}

.info {
  font-size: .8em;
}